# Fennell-NAS Dashboard Environment
# Copy this to .env and fill in your real values

# Ambient Weather API (https://ambientweather.net/account)
AMBIENT_API_KEY=
AMBIENT_APP_KEY=

# Plex
PLEX_BASE_URL=http://192.168.86.57:32400
PLEX_TOKEN=

# Sonarr
SONARR_BASE_URL=http://192.168.86.57:8989
SONARR_API_KEY=

# Radarr
RADARR_BASE_URL=http://192.168.86.57:7878
RADARR_API_KEY=

# qBittorrent
QBITTORRENT_BASE_URL=http://192.168.86.57:8080
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=

# NZBGet
NZBGET_BASE_URL=http://192.168.86.57:6789
NZBGET_USERNAME=nzbget
NZBGET_PASSWORD=

# Overseerr
OVERSEERR_BASE_URL=http://192.168.86.57:5055
OVERSEERR_API_KEY=

# Tautulli
TAUTULLI_BASE_URL=http://192.168.86.57:8181
TAUTULLI_API_KEY=

# Pi-hole
PIHOLE_BASE_URL=http://192.168.86.53
PIHOLE_API_TOKEN=

# Pokemon Shadow Builder
POKEMON_DB_HOST=localhost
POKEMON_DB_NAME=cdfenne_pokemon
POKEMON_DB_USER=root
POKEMON_DB_PASS=
